@use "./../../../../public/styles/tablas.scss";
@use "./../../../../public/styles/colors.scss";



#agregar-cochera{
    margin: auto;
    background-color: colors.$color-secundario;
    color: colors.$color-primario;
    padding: 15px 20px;
}

button{
    cursor: pointer !important;
    background-color: colors.$color-primario;
    color: colors.$color-secundario;
}
