<main>
    <div id="arriba">
        <div id="bloquearriba">
            <h1>ADMINISTRACIÓN COCHERA</h1>
            <div class="barravacia"></div>
        </div>
    </div>
        <div id="abajo">
        <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
            <input type="text" id="username" placeholder="Usuario" name="username" ngModel required>
            <input type="text" id="nombre" placeholder="Nombre" name="nombre" ngModel required>
            <input type="text" id="apellido" placeholder="Apellido" name="apellido" ngModel required>
            <input type="password" id="password" placeholder="Contraseña" name="password" ngModel required>
            <button [disabled]="registerForm.invalid" class="boton-resaltado" type="submit">Registrarse</button>
            @if(errorRegister) {
                <p>Error en login</p>
            }
        </form>
        <a [routerLink]="['/login']">Ya tengo una cuenta</a>
    </div>
</main>