@use "./colors.scss";

table{
  margin: 20px auto;
  thead, tr {
      display: grid;
      grid-template-columns: 50px 1fr 1fr 1fr;
      min-width: 600px;
      justify-items: center;
      align-items: center;
      height: 50px;
      border-bottom: 4px solid colors.$color-secundario;
  }
  thead{
    font-weight: bolder;
  }
  tr:hover{
    background-color: #858585;
  }
  .acciones-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    button{
      width: 70px;
      display: grid;
      align-items: center;
      img{
        width: 85%;
        margin: auto;
      }
    }
  }
}

.disponible{
  background-color: colors.$color-exito;
  padding: 15% 20px;
  color: colors.$color-texto-invertido;
}

.deshabilitada{
  background-color: colors.$color-warn;
  padding: 15% 10px;
  color: colors.$color-texto-invertido;
  pointer-events: none;
}

.ocupado{
  background-color: colors.$color-warn;
  padding: 15% 10px;
  color: colors.$color-texto-invertido;
  pointer-events: none;
}